/* font-family: 'Source Sans Pro', sans-serif;
font-family: 'Montserrat', sans-serif; 
link-active:#1c9f8a
color:#606665
*/
.App {
	font-family: "Source Sans Pro", sans-serif;
	display: flex;
	margin: 0px 30px 0px 30px;
	justify-content: space-between;
}
.menu {
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-end;
}
.menu-list {
	list-style: none;
	display: inline-flex;
	font-weight: 600;
	color: #606665;
}
li {
	margin: 0px 25px 0px 25px;
	cursor: pointer;
}

li.active {
	color: #ea503d;
}
li:hover {
	color: #ff9347;
}
a {
	text-decoration: none;
	color: #606665;
}
a:hover {
	color: #ff9347;
	cursor: pointer;
}
.mainInfo {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	text-align: left;
	padding-left: 110px;
}
.mainText {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.75rem;
	letter-spacing: 0;
}
.scroll-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	padding: 10px 0;
	background: #fff;
	box-shadow: 0 0.25rem 0.625rem 0.25rem rgba(0, 0, 0, 0.06);
	transition: cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s;
}
.fixed-top {
	z-index: 1030;
	background: #fff;
	transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s;
	padding: 20px 0;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}
.section-stories:before {
	content: "";
	position: absolute;
	top: 0;
	height: 18rem;
	width: 100%;
	background: #ea503d;
}
.h2-text {
	font-family: "Montserrat", sans-serif;
	font-size: 1.75rem;
	font-weight: 800;
	line-height: 2.5rem;
	letter-spacing: 0.0125rem;
}
.link-icon {
	display: inline-block;
	font-family: "Source Sans Pro";
	font-weight: 700;
	line-height: 1.5rem;
	color: #fff;
}
.link-icon:after {
	background: url("./dark-arrow.svg") no-repeat;
	content: "";
	display: inline-block;
	width: 13px;
	height: 10px;
	margin-left: 8px;
}
.link-icon:hover:after {
	background: url("./cornflower-arrow.svg") no-repeat;
}
.cases {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.cards {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 10px 30px 30px 30px;
}
.ben-text {
	color: #ea503d;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.75rem;
	letter-spacing: 0.03125rem;
	text-transform: uppercase;
	padding: 30px;
}
.hero-text {
	font-family: "Montserrat", sans-serif;
	font-size: 1.75rem;
	font-weight: 800;
	line-height: 2.5rem;
	letter-spacing: 0.0125rem;
	color: #2c302f;
	padding: 0px 30px 0px 30px;
}
.benefits-section {
	display: inline-flex;
}
.benefits-explain {
	padding: 30px;
	width: 60%;
	justify-content: space-around;
	color: #2c302f;
	display: flex;
}
.h5-ben {
	font-family: "Montserrat", sans-serif;
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.75rem;
	letter-spacing: 0;
	margin-top: 0;
	margin-bottom: 10px;
}
.p-hero-text {
	padding: 0px 30px 30px 30px;
	width: 80%;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.75rem;
	letter-spacing: 0;
	font-family: "Source Sans Pro", sans-serif;
	color: #606665;
}
.p-ben-text {
	color: #606665;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5rem;
	letter-spacing: 0;
	margin-top: 0px;
	padding-top: 0px;
	width: 80%;
}
.testimonials {
	position: absolute;
	content: "";
	display: flex;
	background: linear-gradient(to left, #ff9347, #e05b95);
	width: 100%;
	height: 21.75rem;
}
.testi-left {
	padding: 30px;
	color: #fff;
}
.testi-text {
	font-family: "Source Sans Pro";
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.75rem;
	letter-spacing: 0.03125rem;
	text-transform: uppercase;
}
.testi-hero {
	font-family: "Montserrat", sans-serif;
	font-size: 1.75rem;
	font-weight: 800;
	line-height: 2.5rem;
	letter-spacing: 0.0125rem;
}
.p-testi-text {
	width: 40%;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.75rem;
	letter-spacing: 0;
	font-family: "Source Sans Pro", sans-serif;
}
.contributor {
	padding-top: 80px;
	padding-left: 30px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
.contri-hero {
	font-family: "Montserrat", sans-serif;
	font-size: 1.75rem;
	font-weight: 800;
	line-height: 2.5rem;
	letter-spacing: 0.0125rem;
	color: #2c302f;
}
.p-contri-text {
	width: 30%;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.75rem;
	letter-spacing: 0;
	font-family: "Source Sans Pro", sans-serif;
	color: #606665;
}
.primary-button {
	background-color: #ea503d;
	height: 3rem;
	padding: 0 1.5rem;
	color: #fff;
	border: none;
	font-weight: 700;
	font-family: "Montserrat", sans-serif;
	letter-spacing: 0.025rem;
	border-radius: 0.325rem;
}
.primary-button:hover {
	background-color: #e05b95;
	text-decoration: none;
	box-shadow: 0 0.25rem 0.3rem 0 rgba(66, 171, 154, 0.3);
	cursor: pointer;
}
.primary-button:focus {
	outline: 0;
}
.footer {
	height: 150px;
	background-color: #f3f9f8;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.contributor {
	padding-left: 10%;
}
.sharer {
	padding-left: 50%;
}
.footer-logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 30px;
}
.p-footer {
	color: #606665;
	font-family: "Source Sans Pro";
	font-size: 0.75rem;
	line-height: 1.125rem;
	letter-spacing: 0.01575rem;
	margin-top: 0px;
	margin-bottom: 0px;
}
.contact {
	padding: 30px;
	font-family: "Source Sans Pro", sans-serif;
	color: #606665;
	font-weight: 400;
}
.social {
	padding: 30px;
	width: 20px;
}
.email {
	color: #606665;
	font-family: "Source Sans Pro";
	font-weight: 700;
	line-height: 1.5rem;
}
.email:hover {
	color: #ea503d;
	cursor: pointer;
}
.visual-data {
	padding: 1.3rem 0;
	background-color: #ea503d;
}
.h2-visual {
	font-family: "Montserrat", sans-serif;
	color: #fff;
	font-size: 1.75rem;
	font-weight: 800;
	line-height: 2.5rem;
	letter-spacing: 0.0125rem;
}
.contribution-header {
	padding: 3.5rem 0;
	background: linear-gradient(to left, #ff9347, #e05b95);
}
.contribution-text {
	font-family: "Montserrat", sans-serif;
	color: #fff;
	font-size: 1.75rem;
	font-weight: 800;
	line-height: 2.5rem;
	letter-spacing: 0.0125rem;
}

.cardJ {
	border-radius: 20px;
	box-shadow: 0 5px 40px 15px rgba(0, 0, 0, 0.15);
	overflow: hidden;
	position: relative;
	animation: rotation 3s linear infinite;
	width: 380px;
	filter: grayscale(0.7);
	transition: cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
.cardJ:hover {
	filter: grayscale(0);
	cursor: pointer;
}

.card-top0 {
	background-image: url("https://psv4.userapi.com/c856532/u252106441/docs/d12/6828cd0ddba5/funny-money-64_1.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	height: 250px;
	overflow: hidden;
}
.card-top1 {
	background-image: url("https://media.giphy.com/media/l36kU80xPf0ojG0Erg/source.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	height: 250px;
	overflow: hidden;
}
.card-top2 {
	background-image: url("https://media.giphy.com/media/TLayDh2IZOHPW/source.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	height: 250px;
	overflow: hidden;
}

.card-middle0 {
	background-image: url("https://psv4.userapi.com/c848032/u44361807/docs/d4/60250f4cb48a/Resurs_3_3x.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right center;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	width: 130px;
	height: 130px;
}
.card-middle1 {
	background-image: url("https://psv4.userapi.com/c848032/u44361807/docs/d3/c1538e7ced0c/Resurs_4_3x.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right center;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	width: 130px;
	height: 130px;
}
.card-middle2 {
	background-image: url("https://psv4.userapi.com/c848032/u44361807/docs/d2/5aa84a61eaec/Resurs_5_3x.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right center;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	width: 130px;
	height: 130px;
}

.card-bottom {
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 250px;
}

.card-bottom h3 {
	color: #777;
	margin: 30px 0 0;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.card-bottom p {
	color: #777;
	margin: 15px 0 0;
	letter-spacing: 0.5px;
}

.genius-quest {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.p-questions {
	font-family: "Source Sans Pro";
	font-size: 1.75rem;
	padding: 5px;
	line-height: 1.125rem;
	letter-spacing: 0.01575rem;
	margin-top: 0px;
	margin-bottom: 0px;
}
.question-buttons {
	color: #606665;
	border-radius: 58px;
	background-color: white;
	padding: 7px 15px 7px 15px;
	text-align: center;
	box-shadow: 0 0 4px #606665;
	cursor: pointer;
}
.question-buttons:hover {
	color: #ff9347;
}
.picture-1 {
	position: absolute;
	right: 100px;
	top: 100px;
	width: 45%;
}
.picture-2 {
	width: 15%;
	left: 70%;
	padding-top: 106px;
	position: absolute;
}
@media screen and (max-width: 500px) {
	.cardJ {
	}
}
